<a href="https://colab.research.google.com/github/jindu94/pro1/blob/master/fileReading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
#pd.options.display.max_rows = 9999

print(df.to_string())

In [ ]:
pd.options.display.max_rows

In [13]:
import pandas as pd

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [21]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.tail(2))

     Duration  Pulse  Maxpulse  Calories
167        75    120       150     320.4
168        75    125       150     330.4

In [22]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

In [30]:
import pandas as pd

df = pd.read_csv('raw_collocated_data.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6817 entries, 0 to 6816
Data columns (total 23 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   DateTime                                           6817 non-null   object
 1   PM2_5(NJH CS Collo (CS1)/Canary-S)                 5426 non-null   float64
 2   tempf(NJH CS Collo (CS1)/Canary-S)                 5426 non-null   float64
 3   humidity(NJH CS Collo (CS1)/Canary-S)              5426 non-null   float64
 4   PM2.5(NJH/AirNow)                                  6644 non-null   float64
 5   PM2_5(I-25 Glo Collo (CS2)/Canary-S)               6228 non-null   float64
 6   tempf(I-25 Glo Collo (CS2)/Canary-S)               6228 non-null   float64
 7   humidity(I-25 Glo Collo (CS2)/Canary-S)            6228 non-null   float64
 8   PM2_5(I-25 Glo Collo (CS3)/Canary-S)               6143 non-null   float64
 9   tempf(I-25 Glo Collo (CS3)/Canary-S)               6143 non-null   float64
 10  humidity(I-25 Glo Collo (CS3)/Canary-S)            6143 non-null   float64
 11  PM2_5(I-25 Glo Collo (CS4)/Canary-S)               6256 non-null   float64
 12  tempf(I-25 Glo Collo (CS4)/Canary-S)               6256 non-null   float64
 13  humidity(I-25 Glo Collo (CS4)/Canary-S)            6256 non-null   float64
 14  PM2.5(I-25 Globeville/AirNow)                      6672 non-null   float64
 15  PM2_5(La Casa Collo (CS5)/Canary-S)                6597 non-null   float64
 16  tempf(La Casa Collo (CS5)/Canary-S)                6597 non-null   float64
 17  humidity(La Casa Collo (CS5)/Canary-S)             6597 non-null   float64
 18  PM2.5(La Casa/AirNow)                              6582 non-null   float64
 19  PM2_5(Swansea Elementary Collo (CS7)/Canary-S)     5306 non-null   float64
 20  tempf(Swansea Elementary Collo (CS7)/Canary-S)     5304 non-null   float64
 21  humidity(Swansea Elementary Collo (CS7)/Canary-S)  5304 non-null   float64
 22  PM2.5(I-25 Denver/AirNow)                          6371 non-null   float64
dtypes: float64(22), object(1)
memory usage: 1.2+ MB
None

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

new_df = df.dropna()

print(new_df.to_string())

In [32]:
print(new_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  164 non-null    int64
 1   Pulse     164 non-null    int64
 2   Maxpulse  164 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.4 KB
None

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

x = df["Calories"].mean()

df["Calories"].fillna(x, inplace = True)
print(df)

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')



print(df.to_string())

In [40]:
df.corr()

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.155408  0.009403  0.922717
Pulse    -0.155408  1.000000  0.786535  0.025121
Maxpulse  0.009403  0.786535  1.000000  0.203813
Calories  0.922717  0.025121  0.203813  1.000000